.plyr {
    --plyr-audio-controls-background: transparent;
    --plyr-color-main: var(--casa-color-primary);
    --plyr-audio-control-color: var(--casa-color-primary-max);
    --plyr-control-spacing: var(--casa-spacing-sm);
    --plyr-control-radius: 0;
    min-width: inherit;

}
.plyr--audio .plyr__controls {
    padding: 0;
    height: 100%;
}
.plyr__controls {
    align-items: initial;
    justify-content: initial;
}
.plyr__controls .plyr__controls__item {
    margin-left: 0;
}